<template>
  <div>
    <h1>Login</h1>
    <div>
      <label>E-mail:</label>
      <input v-model="email" class="form_input_email" type="email" name="formEmail" />
      <span v-show="isInvalidEmail" class="form_span_email">Informe um e-mail válido</span>
    </div>
    <br />
    <div>
      <label>Password:</label>
      <input v-model="password" class="form_input_password" type="password" name="formPassword" />
      <span v-show="isInvalidPassword" class="form_span_password">Informe uma senha válida</span>
    </div>
    <button @click="goToLogin(email, password)" class="form_button_go_login">Login</button>
    <span v-show="wrongLogin" class="form_span_error_message_login">Login incorreto</span>
  </div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: '',
    wrongLogin: false,
  }),
  computed: {
    isInvalidEmail() {
      return !this.hasValidEmail(this.email);
    },

    isInvalidPassword() {
      return !this.hasValidPassword(this.password);
    },
  },
  methods: {
    // -------------- Login
    hasValidPassword(password) {
      return password.length >= 6;
    },

    hasValidEmail(email) {
      const lettersRegex = /\S+@\S+\.\S+/;
      return !!email.match(lettersRegex);
    },

    hasCorrectLogin(email, password) {
      const emailFormated = email.split('@');
      const domain = 'gmail.com';
      return (
        // eslint-disable-next-line operator-linebreak
        emailFormated[0].split('_')[0] === 'email' &&
        // eslint-disable-next-line operator-linebreak
        password === `password${emailFormated[0].split('_')[1]}` &&
        // eslint-disable-next-line operator-linebreak
        emailFormated[1] === domain &&
        // eslint-disable-next-line operator-linebreak
        emailFormated[0].split('_')[1] >= 0 &&
        emailFormated[0].split('_')[1] <= 100
      );
    },

    goToLogin(email, password) {
      if (this.hasCorrectLogin(email, password)) {
        this.wrongLogin = false;
        localStorage.setItem('email', email);
        this.$router.push({ name: 'UserForm' });
      } else {
        this.wrongLogin = true;
      }
    },
  },
};
</script>

<style></style>
