<template>
  <div>
    <h1>UserForm</h1>
    <div>
      <label class="form_label_email">E-mail:</label>
      <input v-model="email" class="form_input_email" type="email" name="formEmail" />
    </div>
    <br />
    <div>
      <label class="form_label_age">Idade:</label>
      <input v-model="age" class="form_input_age" type="number" name="formAge" />
      <span v-show="!isValidAge" class="form_span_age">Informe uma idade válida</span>
    </div>

    <select class="form_form_system" v-model="soSelected">
      <option v-for="system in systems" :key="system">{{ system }}</option>
    </select>

    <div>
      <span class="form_form_fields_fill" v-show="allFieldsFilled">Parabéns</span>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    age: '',
    systems: ['', 'Windows', 'Linux'],
    soSelected: '',
  }),
  computed: {
    allFieldsFilled() {
      return this.isValidEmail && this.isValidAge && this.isValidSo;
    },

    isValidEmail() {
      return this.hasValidEmail(this.email);
    },

    isValidAge() {
      return this.hasValidAge(this.age);
    },

    isValidSo() {
      return this.hasValidSo(this.soSelected);
    },
  },
  methods: {
    hasValidAge(age) {
      return age >= 18 && age <= 99;
    },

    hasValidSo(so) {
      return so !== '';
    },

    hasValidEmail(email) {
      const emailStorage = localStorage.getItem('email');
      return emailStorage === email;
    },
  },
};
</script>

<style></style>
